.table-title {
    text-align: center;
padding: 27px 13px;
}
.add-button-row{
    margin-left: 81%;
    padding: 10px;
}
.add-pro-btn-margin{
  margin-right: 10px;
}
.mat-paginator-icon {
  display: none !important;
}
